<template lang="pug">
line-chart(:chart-data="chartData" :chart-options="chartOptions")
</template>
<script>
import moment from 'moment';
import LineChart from './LineChart';
export default {
	components: {
		LineChart,
	},
	props: {
		valores: {
			type: Array,
			required: true,
		},
	},
	computed: {
		chartOptions() {
			return {
				scales: {
					yAxes: [
						{
							ticks: {
								callback: value =>
									value.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }),
							},
						},
					],
					// xAxes: [{ scaleLabel: { display: this.isMesAtual, labelString: this.mesAtual } }],
				},
				tooltips: {
					callbacks: {
						label(tooltipItem, data) {
							let label = data.datasets[tooltipItem.datasetIndex].label || '';

							if (label) {
								label += ': ';
							}
							label += tooltipItem.yLabel.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });
							return label;
						},
					},
				},
			};
		},
		chartData() {
			return {
				labels: this.generateLabels(),
				datasets: [
					{
						label: 'Valor',
						backgroundColor: 'rgba(81, 119, 210, 0.5)',
						borderColor: '#5177d2',
						data: this.valores,
						fill: true,
						spanGaps: false,
						borderWidth: 2,
					},
				],
			};
		},
	},
	methods: {
		generateLabels() {
			let start = moment().startOf('month');
			const endOfMonth = moment().endOf('month');
			const days = [];
			while (start <= endOfMonth) {
				const day = start.format('DD');
				days.push(day);
				start = start.add(1, 'd');
			}
			return days;
		},
	},
};
</script>
