<template lang="pug">
.view
	v-card
		v-card-title Valores por dia
		v-row
			v-col(cols='12')
				chart-exemplo(:valores='generateRandomData')
</template>

<script>
import ChartExemplo from '~/components/ChartExemplo';
export default {
	components: {
		ChartExemplo,
	},
	computed: {
		generateRandomData() {
			const data = [];
			for (let i = 1; i <= 31; ++i) {
				const r = Math.random();
				data.push(Math.ceil(r * r * 10) * 1000);
			}
			return data;
		},
	},
};
</script>
